<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="PowerBIClientID" value="19e8f2ca-22dd-4df4-bf21-6a65e3c2ab95" />
      <setting name="PowerBIGroupID" value="d83efa9b-8537-4b9b-b97c-0139a4151b2d" />
      <setting name="PowerBIDatasetID" value="c5d02928-88b7-45d9-87c7-d04c237e5b1b" />
      <setting name="PowerBIUserEmail" value="" />
      <setting name="PowerBIUserPassword" value="" />
    </settings>
    <commands>
      <command name="powerbi:sync" type="Sitecore.PowerBIIntegration.PowerBISyncCommand, Sitecore.PowerBIIntegration"/>
    </commands>
  </sitecore>
</configuration>